$primaryColor:#1f2126; 
$primaryBlue:#07a385; 
$white :#ffffff;

// button scss start 
.ps-btn{
    border-radius: 4px;
    // box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 500ms ease;
    font-weight: 600;
    min-width: 100px;
    cursor: pointer;
    text-transform: capitalize;
  
    // &:hover{
    //     box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F7F7F7;
    // }
    &.sm-btn{
        height: 35px;
        width: auto;
        padding: 6px 11px;
        font-size: 0.8rem; 
  
        .btn-icon{
            height: 16px;
            width: 16px;   
  
            @include Max1440 {
                height: 14px;
                width: 14px;   
            }
        }
  
        // @include Max1440 {
        //     height: 35px;
        //     width: auto;
        //     padding: 4px 18px;
        //     font-size: 0.8rem; 
        // }
    }
    &.md-btn{
        height: 44px;
        width: auto;
        padding: 10px 18px;
        font-size: 0.9rem;
  
        @include Max1100 {
            height: 41px;
            width: auto;
            padding: 10px 16px;
             font-size: 0.7rem; 
        }
    }
    &.lg-btn{
        height: 58px;
        width: auto;
        padding: 10px 35px;
        font-weight: 600 ;
        height: 45px;
        width: auto;
        padding: 8px 16px;
        font-size: 1.2rem;
  
        @include Max1100 {
            height: 40px;
            width: auto;
            padding: 8px 16px;
            font-size: 0.9rem; 
        }
    }
     &.outline-btn{
        background-color: #ffffff;
        color: $primaryBlue;
        border: 1px solid $primaryBlue;
  
        &:hover{
            background-color: #F9FAFB;
            border: 1px solid $primaryBlue; 
        }

        &.clBlack{
            color: #121212;
            font-weight: 600;
        }
    }
    &.primary-btn{
        color: #ffffff;
        background-color: $primaryBlue;
        border: 1px solid $primaryBlue;
  
        // &:hover{
        //     color:#ffffff;
        //     background-color: #0D6EFD;
        //     border: 1px solid #007BC7; 
        // }
    }
    &.danger-btn{
        color: #F60002;
        background-color:#FFEBEB;
        border: 1px solid #FFEBEB;
    }
    &.ps-btn-mobile{
        width: 60%;
        display: none;
        @include Max440{
            display: block;
            margin: 10px auto;
        }
    }
}
// button scss end


// forms start
.ps-form-group{
    border-radius: 8px !important;
    position: relative;
    border-color: #E1E1E1 !important;
    // .checkbox-container{
    //     input:read-only{
    //         opacity: 0 !important;
    //         cursor: pointer;
    //     }
    // }
    input,
    textarea{
        border:1px solid #E1E1E1;
        &::placeholder{
            font-size: 14px;
            color: #7A7A7A;
            font-weight: 400;
        }
  
        &:focus{
            border-color: #E1E1E1;
        }
    }
    label{
        display: block;
        font-size:12px; //as per change in figma design
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 6px;
        color: #7A7A7A;
  
    }
    .control-label-main {
        color: #212121;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        min-height: 20px;
        margin-bottom: 0;
    }
    input{
        padding: 6px 18px;
        display: block;
        height: 50px;
        border-radius: 8px;
        width: 100%;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        outline: 0;
        color: #212121;
        font-size: 14px;
        // @include commonTransition;
  
        @include Max1440{
            height: 34px !important;
            padding: 4px 8px;
            font-size: 13px;
        }
  
        // &.ui-autocomplete-input{
        //     border:1px solid #D2D6DB !important; 
        //  } 
        // &::placeholder{
        //     color: #979797;
        //     font-size:16px;
        //     line-height: 21px;
  
        //     @include Max1440{
        //         font-size: 13px
        //     }
        // }
        &:focus,
        &:active:focus,
        &:hover:focus{
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F7F7F7;
        }
  
        &:read-only{
            opacity: 0.5 !important;
            cursor: not-allowed;
            background-color: transparent;
        }
        &[type=file]{
            opacity: 1 !important;
        }
    }
    textarea{
        
        padding: 1rem;
        display: block; 
        // resize: none;
        resize: vertical; 
        width: 100%;
        border-radius: 16px;
        outline: 0;
  
  
        &:focus,
        &:active:focus,
        &:hover:focus{
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F7F7F7;
        }
  
        &:read-only{
            opacity: 0.5 !important;
            cursor: not-allowed;
            background-color: transparent;
        }
    }
  
    // &.email-icon{
    //     input{
    //         // background-image: url('../../img/mail.svg');
    //         background-repeat: no-repeat;
    //         background-size: 20px;
    //         background-position: left 14px center;
    //         padding-left: 42px;
    //     }
    // }
    &.calendar-icon{
      .calendar{
            background-image: url('../assets/images/calendar.svg');
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: right 18px top 15px;
            padding-right: 38px !important;
            opacity: 1;
  
            @include Max1440{
                background-size: 18px;
                background-position: right 9px top 7px;
            }
  
            &:read-only{
                opacity: 1 !important;
                cursor: pointer;
            }
        }
    }

    .p-dropdown-trigger{
        position: absolute;
        right: 15px;
        top: 15px;
    }
} 
a{text-decoration: none;}

input[type=checkbox] {
  position: relative;
	border: 2px solid #07a385;
	border-radius: 2px;
	background: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 .6em 0 0;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	height: 20px;
	width: 20px;
	-webkit-appearance: none;
  opacity: .5;
}

input[type=checkbox]:checked {
  background-color: #07a385;
  opacity: 1;
}

input[type=checkbox]:before {
 content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 5px;
    height: 11px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px 0px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

.ps-accordion {
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;

  .accordion-item {
    border-bottom: 1px solid #ddd !important;

    &:last-child {
      border-bottom: none;
    }

    .accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 15px;
      font-size: 16px;
      text-align: left;
      background-color: #f4f4f4;
      color: #333;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e2e2e2;
      }

      &[aria-expanded="true"] {
        background-color: $primaryBlue;
        color: #fff;

        .accordion-arrow {
            transform: rotate(225deg);
        }
      }
    }

    .accordion-arrow {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-right: 2px solid #333;
      border-bottom: 2px solid #333;
      transform: rotate(45deg);
      transition: transform 0.3s ease;
    }

    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease, padding 0.3s ease;
      padding: 0 15px;
      background-color: #fafafa;

      p {
        margin: 15px 0;
        color: #333;
      }
    }

    .accordion-header[aria-expanded="true"] + .accordion-content {
      max-height: 150px;
      padding-top: 13px;
    }
  }
}

.wrapper {
.card-loader {
  position: relative;
  border-radius: 2px;
  margin-bottom: 0;
  overflow: hidden;

  &:only-child {
    margin-top:0;
  }

  &:before {
    content: '';
    height: 230px;
    display: block;
    background-color: #ededed;
  }

  &:after {
    content: '';
    background-color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-name: loader-animate;
    animation-timing-function: linear;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  }
}
 

@keyframes loader-animate{
 0%{
    transform: translate3d(-100%, 0, 0);
  }
 100%{
    transform: translate3d(100%, 0, 0);
  }
}
}

.swiper {
    width: 100%;
    border-radius: 10px;

     @include Max768 {
        margin-bottom: 38px;
    }

   .swiper-slide {
        height: 300px;
        overflow: hidden; 
        border-radius: 10px;
    }

    img{
        cursor: grab;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .swiper-pagination{
        bottom: 0px;

        @include Max768 {
            bottom: 10px;
        }
    }

    .swiper-pagination-bullet-active{background-color: #07a385;}
}

.p-dropdown {
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline-color: transparent;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
    font-size: 14px;
    padding: .5rem;
    transition: background-color .2s, color .2s;
}