
@import "../sass/mixin";
@import "../sass/button";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primaryColor:#090f15; 
$primaryBlue:#07a385; 
$white :#ffffff;
$dblue :#2b4159;
body {font-family: "Poppins", serif !important;}
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

// common start
.ps-border-bottom{
    border-bottom: 1px solid #0D6EFD33 ;
}

.ps-herobtn{
   @include Max768{margin: auto;}
}
.header-sidebtn{
   display: flex;
   margin-left: auto;
   z-index: 2;
}
.ps-header-btn{
   min-width: initial !important;
   margin-left: 10px;
}
.row{margin: 0px;}
.paragraph-xxl{
    font-size:28px;
    @include Max1366{font-size: 26px; }
    @include Max1100{font-size: 24px;}
    @include Max575{font-size: 21px;}
}
.paragraph-f26{
    font-size:26px;
    @include Max1400{font-size: 24px; }
    @include Max1366{font-size: 22px; }
    @include Max1100{font-size: 20px;}
    @include Max575{font-size: 18px;}
}
.paragraph-xml{
    font-size:16px;
    line-height: 20px;
    @include Max1400{
        font-size: 14px !important; 
    }
}
.paragraph-md{
    font-size:14px;
    @include Max1400{
        font-size: 12px; 
    }
}
.paragraph-lg{
    font-size:18px;
    line-height: 24px;
    @include Max1366{ font-size: 16px;}
    @include Max575{font-size: 14px;}
}
.pera20{
    font-size:20px;
    @include Max1366{ font-size: 18px;}
    @include Max1100{font-size: 16px;}
    @include Max575{font-size: 14px;}
}

.cl-prim{color: $primaryColor;}
.cl-sblack{color: #121212;}
.cl-dblue{color:#2b4159;}
.cl-Mblack{color: #000000;}
.ps-bgMain{background: #F7F9FC;}
.cl-gray{color: #7A7A7A;}
.cl-ligray{color: #fffcfc;}
.cl-lBlue{color: $primaryBlue;}
.cl-success{color: #00BB40;}
.cl-white{color: #fff;}
.fw-700{font-weight: 700;}
.fw-600{font-weight: 600;}
.fw-500{font-weight: 500 !important;}
.fw-400{font-weight: 400;}
.ps-border-top{border-top: 1px solid $dblue;}
.ps-border-bottom{border-bottom: 1px solid $dblue;}
.ps-w85{max-width: 85%;}
// common end


// body {
//     font-family: 'Roboto', sans-serif;
// }

.navbar {
    background-color: $primaryColor;

    a {
        color: white;
    }
}

.hero-section {
    text-align: center;
    padding: 50px 0;

    h1 {
        font-size: 3rem;
        font-weight: 300;
    }

    img {
        max-width: 100%;
    }
}

.features-section {
    text-align: center;
    padding: 50px 0;

    .feature {
      p{margin-bottom: 0px;}
        margin: 20px 0;

        img{max-width: 30%;}
        i{
            display: block;
            font-size: 55px;
            margin-bottom: 15px;
        }

      @include Max575{
         padding-left: 5px;
          padding-right: 5px;
          margin-bottom: 0px;
         }
    }
}

.testimonial-section {
    background-color: $dblue;
    padding: 50px 0;
    text-align: center;

    blockquote {
        font-size: 1rem;
        font-style: italic;
    }
}

.availability-section {
    text-align: center;
    padding: 50px 0;

    h2 {
        font-size: 2rem;
        font-weight: 400;
    }

    img {
        max-width: 100px;
    }
}

.staff-section, .patients-section {
    padding: 50px 0;
    text-align: center;

    .feature {
        margin: 20px 0;

        img {
            max-width: 50px;
        }

        @include Max575{
         padding-left: 5px;
          padding-right: 5px;
          margin-bottom: 0px;
         }
    }
}

.problem-solver-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;

    h2 {
        font-size: 2rem;
        font-weight: 400;
    }
}

.list-check{
        list-style-type: none;
        padding-left: 0px;
        margin-bottom: 20px;

         li {
            background: url("/assets/img/checked.png") no-repeat;
            background-size: 13px;
            background-position: 5px;
            padding-left: 25px;
            padding-left: 33px;
            line-height: 1.25em;
            margin-bottom: 10px;
            font-size: 0.8rem;
        }
}

.row-full.row-band {
    background-color: $dblue;

    img{
        min-height: 400px;
    }
}


.counter-section {
  text-align: center;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .counter {
        font-size: 3rem;
        font-weight: bold;
        color: $dblue;
    }
}

$color-white-100: hsl(206, 5%, 100%);
:root {
   --color-white-200: hsl(206, 5%, 90%);
   --color-white-300: hsl(206, 5%, 80%);
   --color-white-400: hsl(206, 5%, 65%);
   --color-white-500: hsl(206, 5%, 50%);

   --color-black-100: hsl(213, 20%, 10%);
   --color-black-200: hsl(213, 23%, 8%);
   --color-black-300: hsl(214, 21%, 6%);
   --color-black-400: hsl(210, 21%, 6%);
   --color-black-500: hsl(216, 22%, 4%);
   --color-black-600: hsl(220, 18%, 3%);
   --color-black-700: hsl(220, 27%, 2%);
   --color-black-800: hsl(180, 20%, 1%);

   --color-blue-100: hsl(214, 95%, 93%);
   --color-blue-200: hsl(213, 97%, 87%);
   --color-blue-300: hsl(212, 96%, 78%);
   --color-blue-400: hsl(213, 94%, 68%);
   --color-blue-500: hsl(217, 91%, 60%);
   --color-blue-600: hsl(221, 83%, 53%);
   --color-blue-700: hsl(224, 76%, 48%);
   --color-blue-800: hsl(226, 71%, 40%);
   --color-blue-900: hsl(224, 64%, 33%);

   --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   list-style-type: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

html {
   font-size: 100%;
   box-sizing: inherit;
   scroll-behavior: smooth;
   height: -webkit-fill-available;
}

body {
   // font-family: "Rubik", sans-serif;
   font-size: clamp(1rem, 2vw, 1.125rem);
   font-weight: 400;
   line-height: 1.5;
   height: -webkit-fill-available;
   // color: $color-white-100;
   background-color: $color-white-100;
}

main {
   overflow: hidden;
}

a,
button {
   cursor: pointer;
   border: none;
   outline: none;
   user-select: none;
   background: none;
   box-shadow: none;
   text-decoration: none;
}

img,
video {
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

// Element Section
.main-section {
   margin: 0 auto;
   padding: 6rem 0 1rem;
}

.container {
   max-width: 75rem;
   height: auto;
   margin: 0 auto;
   padding: 0 1.25rem;
}

.centered {
   text-align: center;
   vertical-align: middle;
   margin-bottom: 1rem;
}

.heading {
   &-xl {
      font-family: inherit;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -1px;
      @include Max1366{font-size: 2.5rem;}
      @include Max1100{font-size: 2rem;}
   }

   &-lg {
      font-family: inherit;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -1px;
   }

   &-md {
      font-family: inherit;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -1px;
   }

   &-sm {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
   }

   &-xs {
      font-family: inherit;
      font-size: 0.7rem;
      font-weight: 500;
      line-height: 1.5;
   }
}

.paragraph{
   font-size: 1.1rem;
   @include Max1366{font-size: 1rem;}
   @include Max1100{font-size: 0.8rem;}
}
.paragraph-h {
   font-family: inherit;
   font-size: 1rem;
   text-wrap: balance;
   color: $dblue;
   line-height: 18px;
   
   &md {font-size: 0.8rem;}
}


// Header Section
.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: auto;
   margin: 0 auto;
   transition: all 0.35s ease;

   &.on-scroll {
      background: var(--color-black-300);
      box-shadow: var(--shadow-medium);
   }
}

.navbar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   column-gap: 1.25rem;
   width: 100%;
   height: 4.25rem;
   margin: 0 auto;
}

.brand {
   font-family: inherit;
   font-size: 1.6rem;
   font-weight: 600;
   line-height: 1.5;
   letter-spacing: -1px;
   color: $color-white-100;
   text-transform: uppercase;

   @include Max575{font-size: 16px;}
}

.menu {
   position: fixed;
   top: -100%;
   left: 0;
   width: 100%;
   height: auto;
   padding: 4rem 0 3rem;
   overflow: hidden;
   background-color: var(--color-black-300);
   box-shadow: var(--shadow-medium);
   transition: all 0.4s ease-in-out;

   &.is-active {
      top: 0;
      width: 100%;
      height: auto;
   }

   &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1.25rem;
      column-gap: 1.5rem;
   }

   &-link {
      font-family: inherit;
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 1.5;
      color: $color-white-100;
      text-transform: uppercase;
      transition: all 0.3s ease;
   }

   &-block {
      display: inline-block;
      font-family: inherit;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25;
      user-select: none;
      white-space: nowrap;
      text-align: center;
      margin-left: auto;
      padding: 0.65rem 1.5rem;
      border-radius: 3rem;
      text-transform: capitalize;
      color: var(--color-white);
      background-color: var(--color-blue-600);
      box-shadow: var(--shadow-medium);
      transition: all 0.3s ease-in-out;
   }

   // Media Query Breakpoint
   @media only screen and (min-width: 48rem) {
      position: relative;
      top: 0;
      width: auto;
      height: auto;
      padding: 0rem;
      margin-left: auto;
      background: none;
      box-shadow: none;

      &-inner {
         display: flex;
         flex-direction: row;
         column-gap: 2rem;
         margin: 0 auto;
      }

      &-link {
         text-transform: capitalize;
      }

      &-block {
         margin-left: 2rem;
      }
   }
}

.burger {
   position: relative;
   display: block;
   cursor: pointer;
   user-select: none;
   order: -1;
   z-index: 10;
   width: 1.6rem;
   height: 1.15rem;
   border: none;
   outline: none;
   background: none;
   visibility: visible;
   transform: rotate(0deg);
   transition: 0.35s ease;

   // Media Query Breakpoint
   @media only screen and (min-width: 48rem) {
      display: none;
      visibility: hidden;
   }

   &-line {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      border: none;
      outline: none;
      opacity: 1;
      border-radius: 1rem;
      transform: rotate(0deg);
      background-color: $color-white-100;
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
         top: 0px;
      }
      &:nth-child(2) {
         top: 0.5rem;
         width: 70%;
      }
      &:nth-child(3) {
         top: 1rem;
      }
   }

   &.is-active .burger-line {
      &:nth-child(1) {
         top: 0.5rem;
         transform: rotate(135deg);
      }
      &:nth-child(2) {
         opacity: 0;
         visibility: hidden;
      }
      &:nth-child(3) {
         top: 0.5rem;
         transform: rotate(-135deg);
      }
   }
}

// Banner Section
.banner {
   &-column {
      position: relative;
      display: grid;
      align-items: center;
      row-gap: 3rem;

      // Media Query Breakpoint
      @media only screen and (min-width: 48rem) {
         grid-template-columns: repeat(2, minmax(0, 1fr));
         justify-content: center;
      }

      @media only screen and (min-width: 64rem) {
         grid-template-columns: 1fr max-content;
         column-gap: 4rem;
         margin-top: 3rem;
      }
   }

   &-image {
      display: block;
      max-width: 18rem;
      height: auto;
      margin-top: 2rem;
      object-fit: cover;
      justify-self: center;

      // Media Query Breakpoint
      @media only screen and (min-width: 48rem) {
         order: 1;
         max-width: 20rem;
         height: auto;
      }

      @media only screen and (min-width: 64rem) {
         max-width: 25rem;
         height: auto;
         margin-right: 5rem;
      }
   }

   &-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1.75rem;
   }

   &-links {
      position: absolute;
      top: 30%;
      right: 1.5rem;
      display: grid;
      justify-items: center;
      row-gap: 0.5rem;
      opacity: 0;
      visibility: hidden;

      // Media Query Breakpoint
      @media only screen and (min-width: 64rem) {
         opacity: 1;
         visibility: visible;
      }

      & > * {
         font-size: 1.25rem;
         line-height: 1.25;
         color: $color-white-100;
      }

      &::before {
         position: absolute;
         content: "";
         top: -3rem;
         width: 4rem;
         height: 1.5px;
         transform: rotate(90deg);
         background: $color-white-100;
      }

      &::after {
         position: absolute;
         content: "";
         bottom: -3rem;
         width: 4rem;
         height: 2px;
         transform: rotate(90deg);
         background: $color-white-100;
      }
   }
}

.list-jane{
    li{
        font-size:16px;
        line-height: 22px;
        color: $dblue;
        @include Max1400{
            font-size: 14px !important; 
        }
    }
}

.ps-eml{
     .header2 {
            text-align: center;
            margin-top: 50px;

            @include Max575{
                margin-top: 20px;
            }
        }
        .features {
            margin: 50px 0;
            @include Max575{
                margin-top: 30px;
            }
        }
        .feature-item {
            margin-bottom: 30px;
              @include Max575{
                margin-bottom: 15px;
            }
        }
        .footer2 {
            text-align: center;
            padding: 30px 0;
            color: #7A7A7A;
            a {
                color: $dblue;
                text-decoration: none;
            }
        } 
}
.card{
   margin: 5% 0%;
   //  border-radius: 40px;
   //  overflow: hidden;
   //  padding: 23px;
   //  background-color: #fff;
   //  position: relative;
   //  margin-bottom: 20px;
   //  border-color: rgba(13, 110, 253, 0.2);
   //  margin-right: 0px;
   //  margin-left: 0px;

   //  .card-img{
   //    width: 100%;
   //    border-radius: 26px;
   //    position: relative;

   //    img{
   //       width: 100%;
   //       border-radius: 26px;
   //    }
   //  }
  
   .card-title {
      color: $dblue;
      font-size: 1rem;
   }
   .card-text {
      color: #555;
      font-size: 0.8rem;
      line-height: 18px;
   }

   .card-body{
      margin: 0% 0% 0% 3%;
      padding: 6% 0%;
   }

   .card-img-top {
      height: 230px;
        @include Max575{
                height: initial;
         }
   }
   .ps-card-icon{
     display: flex;
    font-size: 10rem;
    align-items: center;
    justify-content: center;
    margin: 34px 0px;
    @include Max575{
         margin: 20px 0px;
         height: 181px;
      }
   }

   &:hover{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
}


a:hover{
       text-decoration: none;
}

.ps-read-more-btn{
   padding: 0;
   color: $primaryBlue;
   font-size: 15px;

   &:hover{color: $primaryBlue;}
}

.px-lext-lim{
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
   height: 57px;
}

.ps-gap5{row-gap: 0.75rem !important;}

.ps-feature-set{
   .banner-section{
      background-color: #f0f8ff;
   }

   .ps-fea-inside-list{
      align-items: center;
      justify-content: center;

         li {
         font-size: 12px;
         color: #2b4159;
         display: flex;
         margin-bottom: 5px;

         &::before {
            content: "";
            padding-left: 25px;
            margin-top: 4px;
            display: block;
            width: 15px;
            height: 15px;
            background: url("/assets/img/checked.png") no-repeat;
            background-size: 15px;
          }
         }

   }
}

.awards-section {
  text-align: center;
  padding: 50px 0;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 30px;
  }

  img {
    margin: 0 10px;
    max-width: 100px;
    margin-bottom: 5px;
  }
}

.ps-pricing-set{
   background-color: #f0f8ff;

   .card{
      border-radius: 10px;

      .card-header{
         padding: 0;
         background-color: #fff;
         border: 0;
      }

      .card-body{
         padding: 6px 0 0 0;

         .price{
            display: flex;
            align-items: baseline;

            p{
               margin: 0px;
               font-size: 27px;
            }
            span{
               font-size: 49px;
               margin: 0 0 0 15px;
               color: #008d8d;
            }
         }
      }

      .list-unstyled {
         li{
            font-size: 14px;
            color: #7A7A7A;

            i{ padding-right: 5px;
               color: #07a385;}
         }
      }
   }
}

.bg-light{background-color: #fff !important;}
.form-check-div{
   display: flex;
   align-items: center;
   cursor: pointer;

   label{cursor: pointer;}
}

.ps-accord-comp{
   .check-icon {
    color: #00bfa5;
}

.cross-icon {
    color: #e0e0e0;
}

.table-header {
    font-weight: bold;
}

.table-row {
    border-top: 1px solid #dee2e6;
    padding: 8px 0;
    align-items: center;
}

}

.ps-footer{
 p{font-size: 15px;}
}

.card.ps-card{
   padding: 12px;
   .card-footer {
    margin: 0% 0% 0% 3%;
   }
}

.ps-tabs{
   /* Tabs Container */
   .tabs-container {
      display: flex;
      background-color: $primaryBlue;
      padding: 10px 20px 0 20px;
      border-radius: 8px 8px 0 0;
   }

   .tab {
      padding: 12px 20px;
      margin-right: 10px;
      background-color: #7dc4b6;
      color: #fff;
      border-radius: 6px 6px 0 0;
      cursor: pointer;
      font-weight: 600;
   }

   .tab.active {
      background-color: #fff;
      color: $primaryBlue;
   }

   /* Tab Content */
   .tab-content {
      display: none;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 0 0 8px 8px;
   }

   .tab-content.active {
      display: block;
   }
}

.testimonial-card {
      background-color: #f5f6f8;
      border-radius: 10px;
      padding: 20px;
      display: none;
      position: relative;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .testimonial-card.active {
      display: flex;
      @include Max768{flex-direction: column; align-items: center;}
    }

    .testimonial-image img {
      border-radius: 8px;
      max-width: 170px;
      min-height: 170px;
      height: auto;
       @include Max768{max-width: 250px;}
    }

    .testimonial-text {
      font-size: 16px;
      color: #4a4a4a;
      margin-left: 20px;
      @include Max768{ margin: 10px 0 25px 0;}
    }

    .testimonial-author {
      font-weight: bold;
      margin-top: 10px;
    }

    .testimonial-navigation{
      display: flex;
      gap: 5px;
      position: absolute;
      bottom: 23px;
      right: 35px;
      @include Max768{bottom: 5px;}
       button {
         background-color: #00796b;
         color: white;
         border: none;
         border-radius: 50%;
         width: 35px;
         height: 35px;
         margin: 5px 0;
         display: flex;
         justify-content: center;
         align-items: center;

            i {
               font-size: 1.2rem;
            }
      }
    }

    .testimonial-dots {
      text-align: center;
      position: absolute;
      bottom: 23px;
      left: 218px;
       @include Max768{left: inherit; margin-left: 15px;}
    }

    .testimonial-dots span {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background-color: #dcdcdc;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
    }

    .testimonial-dots span.active {
      background-color: #00796b;
    }

   .fas.fa-quote-left {
      font-size: 2rem;
      color: #6cb2eb !important;
    }


.demo-section {
   background-color: #47848e;
   padding: 20px;
   border-radius: 10px;
   color: white;
   margin-bottom: 20px;

  h2 {
    margin-bottom: 20px;
  }
}

.video-section {
  margin-bottom: 20px;

  img {
    width: 100%;
   //  max-width: 500px;
    border-radius: 10px;
  }
}

.content-section {
  margin-top: 20px;


  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
        color: #2b4159;
  }

  a {
    color: #07a385;
    text-decoration: none;
  }
}

.demo-section{
   .form-select{
   display: block;
      width: 100%;
   }
   .form-label{
      font-size: 14px;
      margin-bottom: .3rem;
   }
}

.ps-about{
        .header-section p {
            font-size: 1.1rem;
        }
        .content-section {
            padding: 20px;
        }
        .content-section h2 {
            color: #07a385;
            font-size: 2rem;
            font-weight: bold;
        }
        .content-section p {
            font-size: 1rem;
            line-height: 1.6;
        }
        .content-section img {
            display: block;
            margin: 0 auto 20px;
        }
}


.team-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
   background-color: #f0f8ff;

      img{
         border: 1px solid #d2d6db;
      }
}
.team-member {
   width: 200px;
   margin: 20px;
   text-align: center;
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 40px 20px 20px 20px;
}
.team-member img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
}
.team-member h3 {
   margin: 10px 0 5px;
   font-size: 16px;
}
.team-member p {
   margin: 0;
   font-size: 12px;
   color: #555;
}

.core-values-section {
   display: flex;
   background-color: #2fa475;
   color: white;
   min-height: 100vh;
}
.sidebar {
   background-color: #1d8b62;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-width: 200px;
    @include Max768{display: none;}
}
.sidebar h1 {
   transform: rotate(-90deg);
   font-size: 36px;
   margin: 0;
   letter-spacing: 2px;
}
.values-content {
   padding: 40px;
   flex: 1;
}
.value-item {
   margin-bottom: 40px;
}
.value-item h2 {
   font-size: 28px;
   text-transform: uppercase;
   margin: 10px 0;
}
.value-item p {
   margin: 5px 0;
   font-size: 16px;
   line-height: 1.6;
}
.icon {
   font-size: 33px;
   margin-right: 10px;
}

.ps-singin{
   .tips-section, .contact-section {
            margin: 20px;
        }
        .tips-section ul {
            list-style: none;
            padding: 0;
        }
        .tips-section ul li {
            margin-bottom: 8px;
            font-size: 14px;
            a{color: $primaryBlue;}
        }
        .tips-section ul li i {
            color: $primaryBlue;
            margin-right: 10px;
        }
        .contact-section{
         p{
            font-size: 15px; 
            margin-bottom: 2px;

            a{color: $primaryBlue;}
         }
         .form-control {
            margin-bottom: 18px;
         }
        }
}
